//  General

$colorFontsGen: #373737;                        // Цвет общего шрифта
$colorBackgGen: #f7f7f7;                        // Цвет фона общий
$fontFamilyGen: 'Open Sans', arial, sans-serif;   // Семейство шрифтов
$fontSizeGen: 14px;                               // Размер основного текста

$fontFamilyHn: 'Playfair Display';                // Шрифт заголовков
$colorLinkGen: forestgreen;                     // Цвет ссылок
$paddinLeftUl: 30px;                              // Отступ списков
$paddinLeftLi: 15px;                              // Отступ списков

// Second order

$colorBackgSec: white;                        // Цвет фона элементов второго порядка
$colorBordrSec:  rgb(24, 59, 1);              // Цвет бордера
$colorBackgSec2:  #f8f6ea;                    // Цвет фона элементов второго порядка 2
$colorBorderUp: #9E9C9C;                      // Цвет рамки при фокусе
$shadowBoxSec: 3px 3px 1px rgba(0,0,0,.05);   // Стиль тени
$colorAlert: #EF5A42;