.sidebar{
	float: left;
	max-width: 300px;
}

aside {
    max-width: 250px;
    float: left;
    margin-bottom: 15px;
    padding: 10px;
}

.widget {
    padding: 20px 15px;
    background: $colorBackgSec;
    font-size: 13px;
    margin-bottom: 20px;
    box-shadow: $shadowBoxSec;

    &-title {
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        margin-bottom: 15px;
        text-align: center;
        border: 1px solid $colorBordrSec;
        border-radius: 10px;
    }
    &-category-list li {
        border-bottom: 1px solid #EBEBE3;
        padding: 10px 0;
        color: $colorFontsGen;
        font-style: italic;

        & a {
            color: $colorFontsGen;
            margin-right: 6px;
            
            &:hover {
                color: $colorLinkGen;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
